<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello Gorgeous </h1>
    <p> <%= @voter.name.titleize %> voted on <%= @movie.title.titleize %> </p>
    <p> <%= @voter.name %> <%= @verdict %>s your film!!</p>

    <p><a href='https://movierama.dev/notifications/disable'>Click here to unsubscribe</a></p>
    <p> Love, Movierama </p>
  </body>
</html>
