.container
  .row
    .col-md-12
      .page-header
        - if @submitter
          %h2
            Movies
            %small submitted by #{@submitter.name}
        - else
          %h2 Movies

  .row
    .col-md-12
      %p You have been unsubscribed from notifications

  
